---
import { getCollection } from 'astro:content';

import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import FormattedDate from '@components/FormattedDate.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '@consts';

const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());

---

<!doctype html>
<html lang="en" class="min-h-screen">
    <head>
        <BaseHead title={`Blog - ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
    </head>
    <body class="flex flex-col min-h-screen">
        <Header />

        <article class="w-full h-full flex flex-col flex-grow">
            <div class="w-full max-w-4xl flex flex-col items-center mx-auto px-4 sm:px-6 lg:px-8">
                <div class="mt-32 text-center">
                    <h1 class="text-4xl sm:text-5xl text-slate-800 font-bold">
                        Blog
                    </h1>

                    <p class="text-md md:text-xl mt-4 text-slate-500">
                        Just my little corner of the world.
                    </p>
                </div>

                <div class="w-full max-w-3xl flex flex-col gap-4 mt-16">
                    {
                        posts.map(post => (
                            <a href={`/blog/${post.slug}/`} class="hover:no-underline">
                                <div class="flex flex-col-reverse rounded-sm transition p-3 md:flex-row hover:cursor-pointer hover:bg-gray-50">
                                    <div class="flex flex-col justify-center flex-grow me-4">
                                        <p class="text-slate-800 text-xl font-bold mt-0 mb-3" transition:name={post.data.title}>
                                            {post.data.title}
                                        </p>

                                        <p class="max-h-10 text-slate-500 text-base leading-4 line-clamp-2 font-medium text-ellipsis mt-0 mb-1">
                                            {post.data.description}
                                        </p>

                                        <div class="flex flex-row">
                                            <FormattedDate
                                                date={post.data.publishDate}
                                                className="text-slate-500 text-sm font-medium"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </a>
                        ))
                    }
                </div>
            </div>
        </article>

        <Footer />
    </body>
</html>
