---
import { getCollection } from 'astro:content';

import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '@consts';

const projects = (await getCollection('projects')).sort(
    (a, b) => a.data.order.valueOf() - b.data.order.valueOf());

---

<!doctype html>
<html lang="en" class="min-h-screen">
    <head>
        <BaseHead title={`Projects - ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
    </head>
    <body class="flex flex-col min-h-screen">
        <Header />

        <article class="w-full h-full flex flex-col flex-grow">
            <div class="w-full max-w-4xl flex flex-col items-center mx-auto px-4 sm:px-6 lg:px-8">
                <div class="mt-32 text-center">
                    <h1 class="text-4xl sm:text-5xl text-slate-800 font-bold">
                        Projects
                    </h1>

                    <p class="text-md md:text-xl mt-4 text-slate-500">
                        A list of some of my more notable projects.
                    </p>
                </div>

                <div class="w-full max-w-3xl flex flex-col gap-1 mt-12 md:gap-4">
                    {
                        projects.map(project => (
                            <a href={project.data.link} class="hover:no-underline">
                                <div class="flex flex-col-reverse rounded-sm transition p-3 md:flex-row hover:cursor-pointer hover:bg-gray-50">
                                    <div class="flex flex-row items-start flex-grow gap-2 md:items-center">
                                        <p class="w-8 text-base text-right mt-0 sm:text-lg lg:text-xl">
                                            {project.data.emoji}
                                        </p>

                                        <div class="flex flex-col items-start flex-grow gap-0 me-4 md:flex-row md:items-center md:gap-2">
                                            <p class="text-slate-800 text-base font-bold mt-0 sm:text-lg lg:text-xl">
                                                {project.data.name}
                                            </p>

                                            <p class="hidden text-slate-600 text-base font-medium mt-0 sm:text-lg md:block">
                                                &ndash;
                                            </p>

                                            <p class="text-slate-600 text-base font-medium mt-0 sm:text-lg">
                                                {project.data.summary}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        ))
                    }
                </div>
            </div>
        </article>

        <Footer />
    </body>
</html>
